/* proyectos */
.project-container {
  text-align: center;
  min-height: 100vh;
  padding-left: 50px;
}
.project-container h2 {
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}
.container-card {
  text-align: start;
  min-height: 400px;
  min-width: 300px;
  margin: 0 1rem;
  padding: 0.5rem;
  border: solid 1px yellow;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgb(5, 7, 12, 0.75)),
    url(./assets/img/cakes-and-bases.png);
  background-position: start;
  background-size: cover;
  padding-top: 3rem;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.links a img {
  height: 30px;
  width: 30px;
  margin: 0 0.5rem;
  background-color: aliceblue;
}
.card-img {
  display: none;
}
.card-img img {
  display: none;
}

@media screen and (min-width: 768px) {
  /* proyectos */
  .project-container {
    text-align: center;
    min-height: 100vh;
  }
  .project-container h2 {
    font-size: 5rem;
  }
  .container-card {
    max-width: 1000px;
    height: 400px;
    border: none;
    margin: 0 auto;
    background-image: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .container-card-desk {
    max-width: 400px;
    text-align: end;
    padding-right: 2rem;
    position: relative;
    height: 370px;
  }
  .card-description {
    padding: 1rem;
    width: 500px;
    position: relative;
    right: 150px;
    text-align: start;
    min-height: 120px;
    background-color: #9c8de2;
    opacity: 0.8;
  }
  .card-img {
    display: block;
    position: relative;
    right: -50px;
    opacity: 0.5;
    flex-grow: 1.5;
  }
  .card-img img {
    display: block;
  }
  .card-img:hover {
    z-index: 100;
    opacity: 0.9;
  }
}
